.main-logo{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.smaller-logo{ 
    width: min(max(50px, 4vw), 87px);;
    max-height: 100px;
}

h2{
    font-family: 'Righteous', cursive;
    font-size: min(max(36px, 4vw), 64px);
    font-weight:400;
    color:#FFFFFF;
    padding: 20px 0 40px 0;
  }

h3{
    font-size: min(max(16px, 4vw), 24px);
    font-weight: 700;
    color: #333333;
}

.seeQuestion ion-icon{
    font-size: 32px;
    font-weight: 800;
    color:#333333;
}

  .root{
    height: 100vh;
  }

  .questionlist{
    width: 100%;
    min-height:100%; 
    background-color: #FB6B6B;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  .seeQuestion{
    max-width: 567px;
    width: 100%;
    height: min(max(65px, 4vw), 91px);
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px 0 15px;
    border-radius: 5px;
  }

  .questions-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .footer{
    width: 100vw;
    background-color: #FFFFFF;

  }

  